body{
    margin:0;
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    background-color: aliceblue;
    min-height:100vh;
}

.task-area{
    border:1px solid lightgray;
}

.task-tabs{
    display:flex;
    border-bottom:1px solid lightgray;
    position:relative;
}

.task-tabs div{
    padding : 1em;
}

#under-line{
    height:4px;
    background-color:pink;
    position:absolute;
    width:80px;
    left:0px;
    top:52px;
    padding:0px;
}

.task{
    display: flex;
    justify-content: space-between;
    padding:1em;
}

.task-done{
    text-decoration: line-through;
}

.task-tabs div{
    cursor:pointer;
}